<section id="profile--content" class="container">

    <div class="columns is-multiline is-flex">

        <div class="column is-10-mobile is-offset-1-mobile is-6-tablet is-offset-3-tablet is-4-desktop is-offset-0-desktop">

            <div class="card">
                <div class="card-image">
                    <figure class="image">
                        <img src="/files/img/users/{{user.photo}}" alt="{{user.name}}" />
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <h3 class="has-text-weight-bold has-text-primary is-size-4">{{user.name}}</h3>
                            <h4 class="has-text-weight-semibold is-size-6 mt-1">{{user.tel}}</h4>
                        </div>
                    </div>

                    <div class="content">
                        <span class="tag is-light has-text-drak is-size-6">{{user.role}}</span>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="is-flex is-justify-content-space-between">
                    <button class="button">
                        <i class="bx bx-pencil"></i>
                    </button>
                    <button class="button">
                        <i class="bx bx-camera"></i>
                    </button>
                    <button class="button">
                        <i class="bx bx-shield"></i>
                    </button>
                </div>
            </div>

        </div>

        <div
            class="column is-10-mobile is-offset-1-mobile is-10-tablet is-offset-1-tablet is-8-desktop is-offset-0-desktop">
            {{#if (eq user.role 'Administrador')}}
            <section id="dashboard-admin" class="container">
                <div class="box has-background-link-90">
                    {{>_admin/dashboard}}
                    {{>_secretaria/dashboard}}
                </div>
            </section>
            {{/if}}
            {{#if (eq user.role 'Secretária')}}
            <section id="dashboard-secretaria" class="container">
                <div class="box has-background-link-90">
                    {{>_secretaria/dashboard}}
                </div>
            </section>
            {{/if}}
            {{#if (eq user.role 'Estudante')}}
            estudante dashboard
            {{/if}}
            {{#if (eq user.role 'Usuário')}}
            <div class="columns is-multiline">
                <div class="column is-12">
                    <div class="box has-background-warning-90 has-text-centered">
                        <header>
                            <h5 class="title is-size-5 has-text-warning-50">Complete o seu Perfil</h5>
                        </header>

                        <div class="content mt-4">
                            <p class="has-text-grey">
                                Caro Usuário, agradecemos pelo Registro em nossa Plataforma! Informamos que a sua Conta encontra-se com o Privilégio 'Usuário', pelo que não terá acesso as Funcionalidades do Privilégio de 'Estudante'.
                                <br><br>
                                <span class="has-text-warning-50 has-text-weight-semibold">
                                    Para Validar a sua Conta para Estudante, complete o seu Perfil com mais Dados e Foto
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column is-12">
                    <div class="box has-background-success-90 has-text-centered">
                        <header>
                            <h5 class="title is-size-5 has-text-primary-40">Promover Conta para Estudante</h5>
                        </header>

                        <div class="content mt-4">
                            <p class="has-text-grey">
                                Parabéns, estás há um clique de Promover a sua Conta para Estudante!
                            </p>
                            <br><br>
                            <button class="button is-primary">
                                Promover a Conta
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>

    </div>

</section>