<section id="profile--content" class="container">

    <div class="columns is-multiline is-flex">

        <div
            class="column is-10-mobile is-offset-1-mobile is-6-tablet is-offset-3-tablet is-4-desktop is-offset-0-desktop">

            <div class="card">
                <div class="card-image">
                    <figure class="image">
                        <img src="/files/img/users/{{user.photo}}" alt="{{user.name}}" />
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <h3 class="has-text-weight-bold has-text-primary is-size-4">{{user.name}}</h3>
                            <h4 class="has-text-weight-semibold is-size-6 mt-1">{{user.tel}}</h4>
                        </div>
                    </div>

                    <div class="content">
                        <span class="tag is-light has-text-drak is-size-6">{{user.role}}</span>
                    </div>
                </div>
            </div>

        </div>

        <div
            class="column is-10-mobile is-offset-1-mobile is-10-tablet is-offset-1-tablet is-8-desktop is-offset-0-desktop">
            {{#if (eq user.role 'Administrador')}}
            <section id="dashboard-admin" class="container">
                <div class="box has-background-link-90">
                    {{>_admin/dashboard}}
                    {{>_secretaria/dashboard}}
                </div>
            </section>
            {{/if}}
            {{#if (eq user.role 'Secretária')}}
            <section id="dashboard-secretaria" class="container">
                <div class="box has-background-link-90">
                    {{>_secretaria/dashboard}}
                </div>
            </section>
            {{/if}}
            {{#if (eq user.role 'Estudante')}}
            estudante dashboard
            {{/if}}
            {{#if (eq user.role 'Usuário')}}
            user dashboard
            {{/if}}
        </div>

    </div>

</section>